@media screen and (min-width:480px) and (max-width:780px){
  body{background-color:rgb(247, 247, 19);
  }
}
@media screen and (min-width:781px) {
  body{
    background-color: tomato;
  }
  .column{
  width: 30%;
  height: 400px;
  float:left;
  border: 2px inset blue;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
}